body {
    background-image: url("images/background.jpg"), url();
    background-repeat: repeat-y;
    background-color: #cccccc;
    background-size:75%;
    font-size: 15pt;
    border-radius: 25px;
  }

  .center {
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 25px;
  }

  .text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
    text-decoration-style: wavy;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
    border-radius: 25px;
  }
  .grid-container {
  display: grid;
  grid-template-columns:  auto auto;
  }
  .app2{
    background-color: seashell ;
    font-family: 'Volkhov', serif;
    font-size: 14pt;
    border-radius: 25px;
    border-radius: 25px;
  }
  .space{
    padding: 5%;
   background-color: antiquewhite;
   border-width: 1cm;
   border: 1px solid black;
   border-radius: 25px;
  }
  .space1{
    padding: 2%;
   background-color: cornsilk;
   border-width: 1cm;
   font-size: 14pt;
   border: 1px solid black;
   border-radius: 25px;
  }
  .input{
     font-size:20px;
  }